@font-face {
	font-family: 'HK Grotesk';
	font-weight: 100;
	font-style: normal;
    src: url("/fonts/HKGrotesk-Light.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 100;
	font-style: italic;
	src: url("/fonts/HKGrotesk-LightItalic.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 400;
	font-style: normal;
    src: url("/fonts/HKGrotesk-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/HKGrotesk-Italic.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 600;
	font-style: normal;
	src: url("/fonts/HKGrotesk-Medium.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 600;
	font-style: italic;
	src: url("/fonts/HKGrotesk-MediumItalic.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 700;
	font-style: normal;
    src: url("/fonts/HKGrotesk-SemiBold.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 700;
	font-style: italic;
    src: url("/fonts/HKGrotesk-SemiBoldItalic.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 900;
	font-style: normal;
    src: url("/fonts/HKGrotesk-Bold.otf") format("opentype");
}

@font-face {
	font-family: 'HK Grotesk';
	font-weight: 900;
	font-style: italic;
    src: url("/fonts/HKGrotesk-BoldItalic.otf") format("opentype");
}